@import '../_variables.scss';

.header{
  display: flex;
  white-space: nowrap;
  width: 100%;
  margin: 10px 0 40px;
  position: relative;
  align-items: center;


  &::before{
    content: '0' counter(section) '.';
    counter-increment: section 1;
    color: $color_02;
    position: relative;
  }

  &::after{
    background: $color_02;
    margin-left: 20px;
    height: 2px;
    width: 400px;
    top:0;
    position: relative;
    display: block;
    content: '';
  }
}
