@import '../../styles/variables';
@import "../../styles/mixins";

.heading{
  @include headingBase;
}

.list{

  @include resetList;

  a {
    position: relative;
    z-index: 1;
  }
}

.projectContent{
  position: relative;
  grid-column: 1 / 7;
  grid-row: 1 / -1;

  @include screen('lg', max){
    grid-column: 1 / 9;
  }

  @include screen('md', max){
    z-index: 5;

    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 40px 40px 30px;
  }

  @include screen('sm', max){
    padding: 30px 25px 20px;
  }
}

.projectTech{
  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;

  margin: 25px 0 10px;
  padding: 0;

  list-style: none;

  li {
    margin: 0 20px 5px 0;
    font-size: 12px;
    color: $color06;
    white-space: nowrap;
  }

  @include screen('md', max){
    margin: 10px 0;

    li {
      margin: 0 10px 5px 0;
      color: $color14;
    }
  }
}

.projectImageWrapper{
  position: relative;
  z-index: 1;
  grid-area: 1 / 6 / -1 / -1;

  @include screen('md', max){
    grid-column: 1 / -1;
    height: 100%;
    opacity: 0.25;
  }
}

.grid{
  position: relative;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  @include screen('md', max){

    @include boxShadow;
  }

  &:not(:last-of-type){
    margin-bottom: 100px;

    @include screen('md', max){
      margin-bottom: 70px;
    }

    @include screen('sm', max){
      margin-bottom: 30px;
    }
  }

  &:nth-of-type(odd){

    .projectContent{
      grid-column: 7 / -1;
      text-align: right;

      @include screen('lg', max){
        grid-column: 5 / -1;
      }

      @include screen('md', max){
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
      }

      @include screen('sm', max){
        padding: 25px 25px 20px;
      }
    }

    .projectTech{
      justify-content: flex-end;

      @include screen('md', max){
        justify-content: flex-start;
      }

      li{
        margin: 0 0 5px 20px;

        @include screen('md', max)
        {
          margin: 0 10px 5px 0;
        }
      }
    }

    .projectImageWrapper{
      grid-column: 1 / 8;

      @include screen('md', max){
        grid-row: 1 / -1;
      }
    }
  }
}

.projectOverTitle{
  margin: 10px 0;
  font-size: 13px;
  font-weight: 400;
  color: $color05;
}

.projectTitle{
  font-size: clamp(24px, 5vw, 28px);
  color: $color06;

  @include screen('md', min){
    margin: 0 0 20px;
  }

  @include screen('md', max){
    color: $color16;

    a{
      position: static;

      &::before {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;
      }
    }
  }
}

.projectDescription{
  position: relative;
  z-index: 2;

  padding: 25px;

  font-size: 14px;

  background-color: $color10;
  border-radius: 4px;

  @include screen('md', max){
    padding: 20px;
    background-color: transparent;
    box-shadow: none;

    &:hover{
      box-shadow: none;
    }
  }
}

.projectImage {
  filter: grayscale(100%) contrast(1) brightness(90%);
  border-radius: 4px;
  mix-blend-mode: multiply;

  @include screen('md', max) {
    width: auto;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(1) brightness(50%);
  }
}

.projectImageDummy {
  width: 100%;
  height: 100%;

  vertical-align: middle;

  background-color: $color05;
  border-radius: 8px;

  &::before{
    content: '';

    position: absolute;
    z-index: 3;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0.3;

    background-color: $color05;
    border-radius: $borderRadius;
    mix-blend-mode: screen;
  }

  &:hover,
  &:focus {
    background: transparent;
    outline: 0;

    &::before,
    .projectImage {
      background: transparent;
      filter: none;
    }
  }
}





