@import '../../styles/variables';
@import "../../styles/mixins";

.menu{
  display: none;

  @include screen('md', max){
    display: block;
  }
}

.button{
  display: none;

  @include screen('md', max){

    @include flexCenter;

    position: relative;
    z-index: 10;

    margin-right: -15px;
    padding: 15px;

    color: inherit;
    text-transform: none;

    background: transparent;
    border: 0;

    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }

  .menuBox{
    position: relative;
    display: inline-block;
    width: $burgerWidth;
    height: 24px;
  }

  .menuBoxInner{
    top: 50%;
    right: 0;

    display: inline-block;

    width: $burgerWidth;
    height: 2px;

    background-color: $color11;
    border-radius: $borderRadius;

    transition-duration: 0.22s;
    transition-property: transform;

    &_show{
      transition-delay: 0.12s;
      transform: rotate(225deg);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before{
        width: 100%;
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
      }
    }

    &_hide{
      transition-delay: 0s;
      transform: rotate(0deg);
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    }

    &::before,&::after{
      content: '';

      position: absolute;
      right: 0;
      left: auto;

      display: block;

      width: $burgerWidth;
      height: 2px;

      background-color: $color11;
      border-radius: 4px;

      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
    }
  }
}

.aside{
  display: none;

  @include screen('md', max){

    @include flexCenter;

    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;

    width: min(75vw, 400px);
    height: 100vh;
    padding: 50px 10px;

    background-color: $color01;
    outline: 0;
    box-shadow: -10px 0 30px -15px $color01;

  }

  &_hide{
    transform: translateX(100vw);
    visibility: hidden;
    transition: all 0.4s cubic-bezier(0.645,0.045,0.355,1);

  }

  &_show{
    transform: translateX(0);
    visibility: visible;
    transition: all 0.4s cubic-bezier(0.645,0.045,0.355,1);

    &_content{
      filter: blur(5px);
    }

    &_particleCanvas{

     & > canvas{
       filter: blur(5px);
     }
    }

  }

  .nav{

    @include flexCenter;

    flex-direction: column;
    width: 100%;
    color: $foreground;
    text-align: center;

    &_span{
      color: $color11;
    }
  }

  .outerList{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .innerList {
      position: relative;
      margin: 0 auto 20px;
      font-size: clamp($fontsizeSM, 4vw, $fontsizeLG);

      @include screen('sm', max) {
        margin: 0 auto 10px;
      }
    }

    .listLink{

      @include baseLink;

      width: 100%;
      padding: 3px 20px 20px;
    }
  }
}
