@import '../../styles/variables';
@import "../../styles/mixins";

.section{

  @include flexCenter;

  flex-direction: column;
  align-items: flex-start;

  height: 100vh;
  min-height: 100vh;
  padding: 0;

  @include screen('md', max){
    height: auto;
    padding-top: $navHeight;
  }

  @include screen('md', min){
    height: auto;
    padding-top: $navHeight;
  }

  @include screen('xs', max){
    height: auto;
    padding-top: $navHeight;
  }
}

.heading{

  &_h1{
    margin: 0 0 30px 40px;
    font-size: clamp($fontsizeSM,5vw, $fontsizeMD);
    font-weight: 400;
    color: $color04;

    @include screen('md', max){
      margin: 0 0 20px 2px;
    }
  }

  &_h2{
    @include headingLarge;
  }

  &_h3{
    @include headingLarge;
    margin-top: 5px;
    line-height: 0.9;
    color: $color04;
  }
}

.text{
  max-width: 540px;
  margin: 20px 0 0;
}
