@import '../../styles/variables';

.base{
  $self: &;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0;

}

.headings{
  &_h1{
    margin: 0 0 30px 40px;
    color: $color_04;
    font-size: clamp($fontsize_sm,5vw,$fontsize_md);
  }

  &_h2{
    margin: 0;
    font-weight: 600;
    font-size: clamp(40px,8vw,80px);
  }

  &_h3{
    margin: 0;
    font-weight: 600;
    font-size: clamp(40px,8vw,80px);
  }
}


.text{
  margin: 20px 0 0;
  max-width: 540px;
}
