// Storage for CSS globals
// ex.) #root or body

@import "variables";
@import "mixins";

// Base HTML Styles

*, *::before, *::after{
  box-sizing: inherit;
}

// Scroll Bar Styles

html{
  scroll-behavior: smooth;
  scrollbar-color: $color12 $background;
  scrollbar-width: thin;

  box-sizing: border-box;
  width: 100%;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: $background;
}

::-webkit-scrollbar-thumb{
  background-color: $color12;
  border: 3px solid $background;
  border-radius: 10px;
}

// Body Styles

body{
  overflow-x: hidden;

  width: 100%;
  min-height: 100%;
  margin: 0;

  font-size: $fontsizeXL;
  line-height: 1.3;
  color: $foreground;

  background-color: $background;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include screen('sm', max){
    font-size: $fontsizeLG;
  }

  &.hidden{
    overflow: hidden;
  }
}

// Section Styles

section{
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  @include screen('md', max){
    padding: 80px 0;
  }

  @include screen('sm', max){
    padding: 60px 0;
  }
}

// Heading Styles

h1,h2,h3,h4,h5,h6{
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.1;
  color: $color16;
}

// Link Styles

a{
  position: relative;

  display: inline-block;

  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover,
  &:focus-visible {
    color: $color08;
    outline: 0;
  }
}

// Main Styles

main{
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 200px 150px;

  @include screen('lg', max){
    padding: 200px 100px;
  }

  @include screen('md', max){
    padding: 150px 50px;
  }

  @include screen('sm', max){
    padding: 125px 25px;
  }
}

// Image Styles
img,
svg{
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

img[alt=""],
img:not([alt]) {
  filter: blur(5px);
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;

  &.feather {
    fill: none;
  }
}
