@import '_variables.scss';

.layout{
  background-color: $background;
  color: $foreground;
}

.ring{
  border-style: solid;
  border-color: $color-12;
  border-width: 2px;
  border-radius: 0.25rem;
  padding: 1.25rem;
  min-width:  calc(100vh - 24px);
  min-height: calc(100vh - 24px);
}
