@import '_variables.scss';

.root{
  $self: &;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;

  &__layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__main{
    counter-reset: section 0;
    padding: 0 150px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
  }

}

