@import 'variables/palette';
@import 'variables/font';

$navHeight: 100px;
$navScrollHeight: 70px;
$tabHeight: 42px;
$tabWidth: 120px;
$borderRadius: 4px;
$burgerWidth: 30px;
$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
