@import '../../styles/variables';
@import "../../styles/mixins";

.section{
  max-width: 1000px;
}

.heading{

  @include headingBase;
}

.grid{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 3fr 2fr;

  @include screen('md', max){
    display: block;
  }
}

.skillsList{
  overflow: hidden;
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(2, minmax(140px, 200px));

  margin: 20px 0 0;
  padding: 0;

  list-style: none;

  &_item{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: $fontsizeXS;

    &before{
      content: '▹';

      position: absolute;
      left: 0;

      font-size: $fontsizeSM;
      line-height: 12px;
      color: $color08;
    }
  }
}


.container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  &_text{
    margin: 0 0 15px;
  }

  &_skills{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;

    margin: 20px 0 0;
    padding: 0;

    list-style: none;
  }

  &_image{
    border-radius: 8px;
  }
}




