@import '../../styles/variables';
@import "../../styles/mixins";

.base{
  $self: &;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;

  section{
    margin: 0 auto;
    padding: 100px 0;
  }

  &_headings{
    @include heading-base;
  }

}


.container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  &_text{
    margin: 0 0 15px;
  }

  &_skills{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    list-style: none;
  }

  &_image{
    border-radius: 8px;
  }
}




