@import '../../styles/variables';
@import '../../styles/mixins';

.base{

  @include flexBetween;

  pointer-events: auto !important;
  user-select: auto !important;

  position: fixed;
  z-index: 11;
  top: 0;

  width: 98%;
  height: $navHeight;
  padding: 0 50px;

  filter: none !important;

  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);



  &_show{
    position: fixed;
    transform: translateY(0);
    height: $navScrollHeight;
    background-color: $background;
  }

  &_hide{
    transform: translateY(calc($navScrollHeight * -1));
    height: $navScrollHeight;
  }

  @include screen('lg', max){
    padding: 0 40px;
  }

  @include screen('md', max){
    padding: 0 25px;
  }
}

.nav{

  @include flexBetween;

  counter-reset: item 0;

  position: relative;
  z-index: 12;

  width: 100%;

  color: $color16;
}

.logo{

  @include flexCenter;

  a{
    position: relative;
    z-index: 1;
    width: 48px;
    height: 48px;
  }

  &:hover,
  &:focus{
    outline: 0;
  }
}

.logoSpinner{
  position: absolute;
  z-index: -1;
}

.logoMain{
  position: relative;
  z-index: 1;
}

.listContainer{
  display: flex;
  align-items: center;
  margin-left: auto;

  @include screen('md', max){
    display: none;
  }
}

.list{

  @include flexBetween;

  margin: 0;
  padding: 0;
  list-style: none;
}

.item{
  counter-increment: item 1;
  position: relative;
  margin: 0 5px;
}

.link{
  padding: 10px;

  &::before{
    content: '0' counter(item) '.';
    margin-right: 5px;
    color: $color06;
    text-align: right
  }

}
