@import '../../styles/variables';
@import '../../styles/mixins';

.base{
  @include flex_between;
  position: fixed;
  top: 0;
  z-index: 11;
  padding: 0 50px;
  width: 100%;
  height: $nav_height;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;

  @include screen('lg', max){
    padding: 0 40px;
  }

  @include screen('md', max){
    padding: 0 25px;
  }
}

.nav{
  @include flex_between;
  position: relative;
  width: 100%;
  z-index: 12;
  counter-reset: item 0;
  color: $color_16;
}

.logo{
  @include flex_center;
  a{
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1;
  }
  &:hover,
  &:focus{
    outline: 0;
  }
}

.logo_container{
  position: relative;
  z-index: 1;
}

.list_container{
  display: flex;
  align-items: center;

  @include screen('md', max){
    display: none;
  }
}

.list{
  @include flex_between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item{
  margin: 0 5px;
  position: relative;
  counter-increment: item 1;
}

.link{
  padding: 10px;

  &:before{
    content: '0' counter(item) '.';
    margin-right: 5px;
    text-align: right;
    color: $color_06
  }

}
