@import "../functions";

$fontsizeDXSmall: 12px;
$fontsizeXSmall: 13px;
$fontsizeSmall: 14px;
$fontsizeMedium: 16px;
$fontsizeLarge: 18px;
$fontsizeXLarge: 20px;
$fontsizeDXLarge: 22px;
$fontsizeHeadings: 32px;
$fontsizeDXS: calculaterem($fontsizeDXSmall);
$fontsizeXS: calculaterem($fontsizeXSmall);
$fontsizeSM: calculaterem($fontsizeSmall);
$fontsizeMD: calculaterem($fontsizeMedium);
$fontsizeLG: calculaterem($fontsizeLarge);
$fontsizeXL: calculaterem($fontsizeXLarge);
$fontsizeDXL: calculaterem($fontsizeDXLarge);
$fontsizeH: calculaterem($fontsizeHeadings);
