@import '../../../styles/variables';
@import "../../../styles/mixins";

.section{
  max-width: 1000px;
}

.heading{

  @include headingBase;
}

.grid{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 3fr 2fr;

  @include screen('md', max){
    display: block;
  }
}

.container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  &_text{
    margin: 0 0 15px;
  }

  &_skills{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;

    margin: 20px 0 0;
    padding: 0;

    list-style: none;
  }

  &_image{
    border-radius: 8px;
  }
}

.skillList{
  overflow: hidden;
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(2, minmax(140px, 200px));

  margin: 20px 0 0;
  padding: 0;

  list-style: none;
}

.skillListItem{
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;

  &::before {
    content: '▹';
    position: absolute;
    left: 0;
    line-height: 1.2;
  }
}

.imageContainer{
  position: relative;
  max-width: 300px;

  @include screen('md', max){
    width: 70%;
    margin: 50px auto 0;
  }
}

.imageWrapper{
  position: relative;
  display: block;
  width: 100%;

  &::before,
  &::after{
    content: "";

    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: $borderRadius;
  }

  &::after{
    z-index: -1;
    top: 14px;
    left:14px;
    border: 2px solid $color05;
  }
}


