@import '../../styles/variables';
@import "../../styles/mixins";

.carouselContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  text-align: left;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;

  @include screen('md', max){
    flex-direction: row;
  }
}

.carouselTrack{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 40px;
  margin-right: 15px;
  margin-left: 15px;

  scrollbar-width: thin;
  scrollbar-color: $color_12 $background;
}

.carouselCard{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  align-items: center;

  margin: 14px;

  height: 600px;
  width: 500px;
  padding: 40px;
  cursor: pointer;
  overflow: hidden;

  background-color: $color_01;
  opacity: 0.4;

  &:hover{
    opacity: 1;
  }

  @include screen('md', max){
    width: 600px;
  }
  @include screen('lg', max){
    width: 800px;
  }
}

.carouselCardBody{
  padding-left: 0;
  padding-right: 0;

  @include screen('md', max){
    padding-left: 30px;
    padding-right: 30px;
  }

  &Heading{
    font-weight: 300;
  }
}
