@import '../../styles/variables';
@import "../../styles/mixins";

.base{
  max-width: 700px;

  section{
    margin: 0 auto;
    padding: 100px 0;
  }

  &_heading{
      @include heading-base
  }
}

.jobSection{
  max-width: calculateREM(1200px);

  &_innersection{
    display: flex;

    @include screen('sm', max){
      display: block;
    }

    @include screen('md', min){
      min-height: calculateREM(340px);
    }
  }
}

.carousel{
  &_container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    text-align: left;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    @include screen('md', max){
      flex-direction: row;
    }
  }

  &_track{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 40px;
    margin-right: 15px;
    margin-left: 15px;

    scrollbar-width: thin;
    scrollbar-color: $color_12 $background;
  }
}

.card{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  align-items: center;

  margin: 14px;

  height: 600px;
  width: 500px;
  padding: 40px;
  cursor: pointer;
  overflow: hidden;

  background-color: $color_01;
  opacity: 0.4;

  @include screen('md', max){
    width: 600px;
  }
  @include screen('lg', max){
    width: 800px;
  }

  &:hover{
    opacity: 1;
  }

  &_body{
    padding-left: 0;
    padding-right: 0;

    @include screen('md', max){
      padding-left: 30px;
      padding-right: 30px;
    }

    &_heading{
      font-weight: 300;
    }
  }
}
