@import '../../styles/variables';
@import "../../styles/mixins";

.heading{
  @include heading_base;
}

.grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 2.5rem;
}

.card{
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
  max-width: 42rem;
  position: relative;



//  &:before{
//    position: absolute;
//    bottom: 0;
//    top: 5rem;
//    left: 2.25rem;
//    height: calc(100% - 70px);
//    width: 5px;
//    background-color: $color_08;
//  }
}

.card_link{
  display: grid;
  place-items: center;
  border: 2px solid $color_08;
  min-height: 80px;
  min-width: 80px;
  padding: 0.5rem;
  border-radius: 0.375rem;
  overflow: clip;
  position: relative;
}

.card_body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_inline{
  @include inline_link;
}

.card_date{
  margin-top: 0.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card_text{
  margin-top: 0.5rem;
  letter-spacing: 0.1em;

  @include pretty_list;
}
