// Contains all headings mixins

@import "../variables";
@import "media";

@mixin headingLarge{
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

@mixin headingMedium{
  margin: 0;
  font-size: clamp(40px, 8vw, 60px);
}

@mixin headingBase {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  margin: 10px 0 40px;

  font-size: clamp($fontsizeSM, 5vw, $fontsizeH);
  white-space: nowrap;

  @include headingBaseBeforeAfter

}

@mixin headingBaseBeforeAfter {

/*  &::before{
    content: '0' counter(section) '.';
    counter-increment: section;

    position: relative;
    bottom: 0;

    margin-right: 10px;

    font-size: clamp($fontsizeMD, 3vw, $fontsizeXL);
    font-weight: 400;
    color: $color10;

    @include screen('sm', max){
      margin-right: 5px;
      margin-bottom: -3px;
    }
  }*/

  &::after{
    content: '';

    position: relative;
    top: 0;

    display: block;

    width: 300px;
    height: 1px;
    margin-left: 20px;

    background-color: $color09;

    @include screen('lg', max){
      width: 200px;
    }

    @include screen('md', max){
      width: 100%;
    }

    @include screen('custom', max, 600){
      margin-left: 10px;
    }
  }
}
