// Contains all link mixins

@import "../variables";

@mixin inlineLink{
  position: relative;
  display: inline-block;
  color: $color08;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  &::after {
    content: '';

    position: relative;
    bottom: 0.37em;

    display: block;

    width: 0;
    height: 1px;

    opacity: 0.5;
    background-color: $color08;

    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover,
  &:focus-visible {
    color: $color08;
    outline: 0;

    &::after {
      width: 100%;
    }

    & > * {
      color: $color08 !important;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

@mixin baseLink{
  position: relative;

  display: inline-block;

  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  transition: $transition;

  &:hover,
  &:focus-visible {
    color: $color05;
    outline: 0;
  }
}
