// Contains all list mixins

@import "../variables";

@mixin resetList{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin prettyList{
  margin: 0;
  padding: 0;
  font-size: $fontsizeLG;
  list-style: none;

  li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;

    &::before{
      content: '▹';
      position: absolute;
      left: 0;
      color: $color08;
    }
  }
}
