// Contains all sections mixins

@import "media";

@mixin sectionBase {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  @include screen('md', max){
    padding: 80px 0;
  }

  @include screen('sm', max){
    padding: 60px 0;
  }
}
